/*  

color : ;  red
color : 

*/ 

.bg-blue{background:#08526D;}

.bg-red{background:#ed1d24 !important}

.text-blue{color:#08526D}

.text-red{color:#ed1d24 !important}

.btn{
    padding: .375rem 2rem;
}
.overlay{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.6);
    z-index:1
}


/* main header */
.main-header span{
    font-size:13px
}
/* nav */ 
.navbar .nav-item .nav-link{
    font-size:16px;
    text-transform: uppercase;
    color:#08526D;
    padding:25px 17px;
    font-weight:500
}

.navbar .active{
    color:#ed1d24 !important
}

.navbar-light .navbar-nav .active>.nav-link{
    color:#ed1d24
}

@media (max-width:767px){
    .navbar .nav-item .nav-link{
        padding:10px 15px
    }

    .navbar .navbar-brand{
        padding:0 15px
    }

    .navbar-expand-md{
        padding:20px 0
    }
    
    .mb-resp{
        margin-bottom:1rem
    }

    .pb-resp{
        padding-bottom:2rem
    }

    .pr-resp{
        padding-right: 2rem;
    }
}

/*  carousel */

.carousel-one, .carousel-two, .carousel-three{
    background-image: url("../img/banner.jpg");
    background-size: cover;
    width:1000;
    height:495px
}

.carousel-two{ background-image: url('../img/banner2.jpg')}

.carousel-three{background-image: url('../img/banner3.jpg')}

#carousel-ind {
    position:relative
}

.carousel-text{
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
}

.carousel-text{height: 100%;}

.carousel-text div{
    color:#fff;
    font-size:60px;
    width:80%;
    text-transform: capitalize;
    font-weight: bold;
}

.carousel-text div span{padding:0 10px}

.carousel-control-prev,
.carousel-control-next{
    z-index:4;
    width:5%;
}
@media (max-width: 992px) { 
    .carousel-text div{
        font-size:45px !important
    }
 }

@media (max-width: 767px) {
    .carousel-text div{
        font-size:30px !important
    }
}


/* section */

.main-section i{
    background:#ed1d24 ;
    color:#FFF;
    margin-bottom:10px;
    padding:20px;
    border-radius: 50%;

}
.main-section  p{
    line-height: 24px;
    color: #8B999F;
    padding: 0px 0px;
    font-size: 15px;
    margin:0
}

/* overveiw */ 
.overview{
    background:#F0F5F7;
    padding:100px 0
}

.overview .container p,
.feature .container p,
.boxes .container > p,
.pricing .container > p{
    width: 80%;
    margin: 0 auto;
    color: #555;
    font-size: 20px;
    font-weight: 400;
}


/* feature */
.navbar-2 .nav-item .nav-link{
    border: 1px solid #ddd;
    margin-right:8px;
    padding:8px 15px;
    cursor: pointer;
    
}

.navbar-2 .nav-item .nav-link:hover:not(.active){
    border: 1px solid #ed1d24;
    color:#ed1d24;
}

.navbar-2 .active{
    background:#ed1d24;
    color:#fff !important
}

.p-relative{
    position:relative
}

.p-absolute{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100;
}

.unvisible-div {
    background: rgba(0,0,0,0.8);
    height:100%;
    color:#fff;
    opacity:0;
    visibility: hidden;
    transition: opacity ease-in-out 0.2s 0.1s;
}

.unvisible-div h1{
    transition-delay: 0.3s;
}

.unvisible-div p{
    transition-delay: 0.5s;
}

.hover-visible:hover .unvisible-div{
    opacity:1;
    visibility: visible;
}
/*  boxes  */
.boxes .container > p{
    line-height:1.6
}
.boxes .card{
     border: none; 
    border-radius: 0;
}

.boxes .card-body {
    padding-left:0
}

.card-title{
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #08526D;
}
.boxes .card p:last-of-type{
    font-size:15px;
    color:#888;
    font-weight:500

}

.mt-6{
    margin:100px 0
}

/* pricing */
.pricing .card{
    border:none;
    box-shadow: 0 0 4px 0 rgba(130, 121, 121, .2);
    transition: 0.3s;
    tra
}

.pricing .card:hover{
    transform:translate(0, -10px);
    box-shadow: 0 0 10px 0 rgba(130, 121, 121, .2);
}



.pricing .card .card-header{
    background:#f7f7f7 ;
    padding: 13px 0 13px !important;
    border: none;
}

.card-body .list-group-item{
    border:none;
    font-size: 15px;
    color: #222;
    padding: 9px
}

/* why choose us */


.why-text{
    padding:100px 60px 0px !important;

}

.why-choose-us p {
    color: #b5c3c9;
    font-size:16px;
    margin-bottom: 24px;
    letter-spacing: 2px;
    line-height:24px
    
}

.why-choose-us .test{
    height:100% !important
}

/* count */
.count p {
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 2px;
}


/* work */
.work h4{
    font-weight:300 !important;
    font-size:1.9rem !important
}

.work .new {
    color:#fff;
    border:2px solid #fff;
    font-size:20px
}

.work .new:hover{
    background-color: #08526D;
    color:#FFF
}

/*footer*/ 

.footer-nav{
    list-style:none;
    padding:0
}

.footer-link{
    display:inline-block;
    padding:8px 0;
    text-transform:capitalize;
    color:#08526D !important;
    font-size: 16px;
    font-weight:400;
    text-align: right;
    cursor:pointer
}

.footer-item .fa-chevron-right {
    padding: 0 15px;
    color:#555 !important;
    text-align:left
}

.footer-icon i{
    padding:15px;
    color:#888
  
}

.color-change:hover   {
    color:#ed1d24 !important;
}

.footer-nav li a:hover .footer .demo{
    color:red
}
